

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>任务统计</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>
    <link href="~/Styles/style2.css?id=0" rel="stylesheet" />
    <link href="~/Styles/public.css?id=1" rel="stylesheet" />
    <script src="~/Scripts/public.js?id=12"></script>
    <style type="text/css">
        body {
            font-family: tahoma, arial, sans-serif;
            font-size: 12px;
        }
        .font-bold {
            font-weight: bold;
        }
        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    </style>
    <script type="text/javascript">
        var grid;
        $(function () {
            //设置表格的高度
            var parentHeight = $(window.parent).height();
            $("#grid1").height(parentHeight - 120);

            mini.parse();

            grid = mini.get("grid1");

            init();

            // 加载客服列表
            loadUsers();
            // 加载统计数据
            loadData();
        })

        function init() {
            //设置表格的高度
            var parentHeight = $(window.parent.document).find("#rightFrame").height();
            $("#grid1").height(parentHeight - 110);
        }

        // 加载客服列表
        function loadUsers() {
            // 这里可以从系统用户表中加载客服列表
            // 暂时使用模拟数据
            var users = [
                { id: "", text: "全部客服" },
                { id: "客服1", text: "客服1" },
                { id: "客服2", text: "客服2" },
                { id: "客服3", text: "客服3" }
            ];
            mini.get("userName").setData(users);
        }

        // 渲染操作按钮
        function renderAction(e) {
            var record = e.record;
            var userName = record.UserName;
            return '<a href="javascript:viewDetail(\'' + userName + '\')" style="color:green;">详情</a>';
        }

        // 加载数据
        function loadData() {
            var userNameValue = mini.get("userName").getValue();
            var startDateValue = mini.get("startDate").getValue();
            var endDateValue = mini.get("endDate").getValue();
            
            grid.load({
                url: "/Task/GetTaskStatistics",
                params: {
                    userName: userNameValue,
                    startDate: startDateValue,
                    endDate: endDateValue
                }
            });
        }

        // 搜索
        function search() {
            loadData();
        }

        // 导出数据
        function exportData() {
            var userNameValue = mini.get("userName").getValue();
            var startDateValue = mini.get("startDate").getValue();
            var endDateValue = mini.get("endDate").getValue();
            
            window.location.href = "/Task/ExportTaskStatistics?userName=" + encodeURIComponent(userNameValue) + "&startDate=" + startDateValue + "&endDate=" + endDateValue;
        }

        // 查看详情
        function viewDetail(userName) {
            var win = mini.open({
                url: "/Task/UserTaskDetail?userName=" + userName,
                title: userName + "的任务详情",
                width: 800,
                height: 600,
                ondestroy: function (action) {
                    if (action == "ok") {
                        loadData();
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">任务管理</a></li>
            <li><a href="#">任务统计</a></li>
        </ul>
    </div>
    <form id="form1">
        <div class="sys-content-border" style="padding:8px 3px;">
            客服姓名: 
            <select id="userName" class="mini-combobox" style="width:150px;" placeholder="客服姓名"></select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            开始日期: 
            <input id="startDate" class="mini-datepicker" style="width:150px;" placeholder="开始日期" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            截止日期: 
            <input id="endDate" class="mini-datepicker" style="width:150px;" placeholder="结束日期" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_search" type="button" class="sys-btn" value="搜索" onclick="search()" style="background-color: #E3F2FD; color: #1976D2;" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_export" type="button" class="sys-btn" value="导出数据" onclick="exportData()" style="background-color: #FFF3E0; color: #EF6C00;" />
        </div>
        <div id="grid1" class="mini-datagrid" style="width:100%; margin-top:5px;" url="/Task/GetTaskStatistics" idfield="UserName" allowresize="true"
             sizelist="[50,100,200]" pagesize="50">
            <div property="columns">
                <div field="UserName" width="150" header="客服姓名" allowSort="true"></div>
                <div field="TotalTasks" width="100" header="总任务数" allowSort="true"></div>
                <div field="CompletedTasks" width="100" header="已完成任务" allowSort="true"></div>
                <div field="AuditedTasks" width="100" header="已审核任务" allowSort="true"></div>
                <div field="TotalScore" width="100" header="总得分" allowSort="true"></div>
                <div field="AverageScore" width="100" header="平均得分" allowSort="true"></div>
                <div field="CompletionRate" width="100" header="完成率(%)" allowSort="true"></div>
                <div field="action" width="150" header="操作" align="center" renderer="renderAction"></div>
            </div>
        </div>
    </form>
</body>
</html>