

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>任务模板管理</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>
    <link href="~/Styles/style2.css?id=0" rel="stylesheet" />
    <link href="~/Styles/public.css?id=1" rel="stylesheet" />
    <script src="~/Scripts/public.js?id=100"></script>
    <style type="text/css">
        body {
            font-family: tahoma, arial, sans-serif;
            font-size: 12px;
        }
        .font-bold {
            font-weight: bold;
        }
        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    </style>
    <script type="text/javascript">
        var grid;
        $(function () {
            //设置表格的高度
            var parentHeight = $(window.parent).height();
            $("#grid1").height(parentHeight - 120);

            mini.parse();

            grid = mini.get("grid1");

            init();

            // 加载模板数据
            loadData();
        })

        function init() {
            //设置表格的高度
            var parentHeight = $(window.parent.document).find("#rightFrame").height();
            $("#grid1").height(parentHeight - 110);
        }



        // 渲染优先级
        function renderPriority(e) {
            var value = e.value;
            if (value == 0) return "低";
            if (value == 1) return "中";
            if (value == 2) return "高";
            return value;
        }

        // 渲染执行周期
        function renderExecutionCycle(e) {
            var value = e.value;
            if (value == 0) return "一次性";
            if (value == 1) return "每天";
            if (value == 2) return "每周";
            if (value == 3) return "每月";
            return value;
        }

        // 渲染状态
        function renderIsActive(e) {
            var value = e.value;
            return value ? "启用" : "禁用";
        }

        // 渲染操作按钮
        function renderAction(e) {
            var record = e.record;
            var templateId = record.TemplateID;
            return '<a href="javascript:editTemplate(\'' + templateId + '\')" style="color:green;">编辑</a> | <a href="javascript:deleteTemplate(\'' + templateId + '\')" style="color:red;">删除</a>';
        }

        // 渲染截止时间
        function renderDeadline(e) {
            var record = e.record;
            var deadlineType = record.DeadlineType;
            var deadlineValue = record.DeadlineValue;
            var deadlineUnit = record.DeadlineUnit;
            
            switch (deadlineType) {
                case 0:
                    return '无截止';
                case 1: // 相对时间
                    if (!deadlineValue) return '';
                    var unitText = '';
                    switch (deadlineUnit) {
                        case 1: unitText = '分钟'; break;
                        case 2: unitText = '小时'; break;
                        case 3: unitText = '天'; break;
                        default: unitText = '分钟';
                    }
                    return '相对时间 ' + deadlineValue + unitText;
                case 2: // 固定时间
                    return '固定时间 ' + (deadlineValue || '');
                case 3: // 当天结束
                    return '当天结束';
                case 4: // 次日开始
                    return '次日开始';
                default:
                    return '';
            }
        }

        // 渲染模板名称（可点击）
        function renderTemplateName(e) {
            var record = e.record;
            var templateId = record.TemplateID;
            var templateName = record.TemplateName;
            return '<a href="javascript:editTemplate(\'' + templateId + '\')" style="color:blue; text-decoration:underline; cursor:pointer;">' + templateName + '</a>';
        }

        

        // 加载数据
        function loadData() {
            var templateNameValue = mini.get("templateName").getValue();
            grid.load({
                url: "/Task/GetTaskTemplateList",
                params: {
                    templateName: templateNameValue
                }
            });
        }

        // 搜索
        function search() {
            loadData();
        }

        // 新增模板
        function addTemplate() {
            var win = mini.open({
                url: "/Task/TemplateAdd",
                title: "新增任务模板",
                width: 800,
                height: 820,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "new", operator: getCurrentOperator() };
                    iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {
                    if (action == "ok") {
                        loadData();
                    }
                }
            });
        }

        // 编辑模板
        function editTemplate(templateId) {
            var win = mini.open({
                url: "/Task/TemplateAdd?id=" + templateId,
                title: "编辑任务模板",
                width: 800,
                height: 820,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "edit", templateId: templateId, operator: getCurrentOperator() };
                    iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {
                    if (action == "ok") {
                        loadData();
                    }
                }
            });
        }

        // 删除模板
        function deleteTemplate(templateId) {
            mini.confirm("确定要删除该模板吗？", "提示", function (action) {
                if (action == "ok") {
                    $.ajax({
                        url: "/Task/DeleteTaskTemplate",
                        type: "post",
                        data: { id: templateId },
                        success: function (text) {
                            var result = mini.decode(text);
                            if (result.state == "1" || result.state == 1) {
                                mini.alert("删除成功");
                                loadData();
                            } else {
                                mini.alert(result.msg || "删除失败");
                            }
                        },
                        error: function () {
                            mini.alert("网络错误");
                        }
                    });
                }
            });
        }
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">任务管理</a></li>
            <li><a href="#">任务模板管理</a></li>
        </ul>
    </div>
    <form id="form1">
        <div class="sys-content-border" style="padding:8px 3px;">
            模板名称: 
            <input id="templateName" class="mini-textbox" style="width:200px;" placeholder="模板名称" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_search" type="button" class="sys-btn" value="搜索" onclick="search()" style="background-color: #E3F2FD; color: #1976D2;" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_add" type="button" class="sys-btn" value="新增模板" onclick="addTemplate()" style="background-color: #E8F5E9; color: #388E3C;" />
        </div>
        <div id="grid1" class="mini-datagrid" style="width:100%; margin-top:5px;" url="/Task/GetTaskTemplateList" idfield="TemplateID" allowresize="true"
             sizelist="[50,100,200]" pagesize="50">
            <div property="columns">
                <div field="TemplateID" width="120" header="模板ID" allowSort="true"></div>
                <div field="TemplateName" width="120" header="模板名称" allowSort="true" renderer="renderTemplateName"></div>
                <div field="CategoryName" width="80" header="分类" allowSort="true"></div>
                <div field="Description" width="120" header="模板描述"></div>
                <div field="Priority" width="40" header="优先级" allowSort="true" renderer="renderPriority"></div>
                <div field="StandardScore" width="40" header="标准分" allowSort="true"></div>
                <div field="AssignedTo" width="60" header="分配人" allowSort="true"></div>
                <div field="deadline" width="120" header="截止时间" allowSort="true" renderer="renderDeadline"></div>
                <div field="ExternalUrl" width="80" header="外部URL" allowSort="true"></div>
                <div field="DelayPenaltyRule" width="120" header="惩罚规则" allowSort="true"></div>
                <div field="EarlyRewardRule" width="120" header="奖励规则" allowSort="true"></div>
                <div field="MaxDelayPenalty" width="60" header="最大惩罚" allowSort="true"></div>
                <div field="MaxEarlyReward" width="60" header="最大奖励" allowSort="true"></div>
                <div field="IsActive" width="40" header="状态" allowSort="true" renderer="renderIsActive"></div>
                <div field="CreateTime" width="80" header="创建时间" allowSort="true" dateFormat="yyyy-MM-dd HH:mm:ss"></div>
                <div field="action" width="100" header="操作" align="center" renderer="renderAction"></div>
            </div>
        </div>
    </form>
</body>
</html>