

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Styles/style2.css?id=0" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>

    <link href="~/Styles/public.css?id=1" rel="stylesheet" />
    <script src="~/Scripts/public.js?id=6"></script>

    <style>
        select {
            width: 80px;
            border-radius: 5px;
            border: 1px solid #dfdfdf;
        }

        .txt {
            height: 22px;
            line-height: 22px;
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            padding-left: 5px;
            width: 160px;
        }

        .photo-img {
            width: 40px;
            height: 40px;
            border: solid 1px #dcdcdc;
            border-radius: 50%;
        }

        .red {
            font-size: 18px;
            font-weight: bold;
            color: #f00;
        }

        .blue {
            font-size: 14px;
            font-weight: bold;
            color: blue;
        }

        .yellow {
            font-size: 18px;
            font-weight: bold;
            color: yellow;
        }
    </style>

    <script type="text/javascript">
        var grid;
        $(function () {
            mini.parse();
            grid = mini.get("datagrid1");
            //grid.load();
            search();
            drawCell();

            init();
        })

        function drawCell() {
            grid.on("drawcell", function (e) {
                var record = e.record,
                    column = e.column,
                    field = e.field,
                    value = e.value;


                if (column.name == "photo") {
                    var photo = servUrl_AppData + '/photo/' + record.photo;
                    e.cellHtml = '<a href="javascript:UserAllInfo(\'' + record.uid + '\',500,1300)"><img src="' + photo + '" class="photo-img" />';

                }

                if (column.name == "first_time") {
                    var dtm = record.first_time;
                    if (dtm == null) { dtm = ''; }
                    dtm = dtm.replace(' ', '<br/>');

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<span>' + dtm + '</span>';
                }

                if (column.field == "coin_total") {
                    var coin_total = record.coin_total;
                    if (coin_total == null) { coin_total=''}
                    e.cellStyle = "text-align:right";
                    e.cellHtml = '<span style="color:red">' + coin_total + '</span>';
                }
                if (column.field == "coin") {
                    var coin = record.coin;
                    if (coin == null) { coin = '' }
                    e.cellStyle = "text-align:right";
                    e.cellHtml = '<span style="color:red">' + coin + '</span>';
                }
                if (column.field == "score_total") {
                    var score_total = record.score_total;
                    if (score_total == null) { score_total = '' }
                    e.cellStyle = "text-align:right";
                    e.cellHtml = '<span style="color:blue">' + score_total + '</span>';
                }
                if (column.field == "score") {
                    var score = record.score;
                    if (score == null) { score = '' }
                    e.cellStyle = "text-align:right";
                    e.cellHtml = '<span style="color:blue">' + score + '</span>';
                }

                if (column.name == "least_time") {
                    var dtm = record.least_time;
                    var dtm_old = new Date(dtm).getTime();
                    var dtm_now = new Date().getTime();
                    var dtm_ss = Math.floor((dtm_now - dtm_old) / 1000);

                    if (dtm_ss < 60) {
                        e.cellStyle = "text-align:left";
                        e.cellHtml = '<span style="color:blue;font-size: 14px;font-weight: bold;">' + dtm_ss + '秒前</span>';
                    }
                    if (dtm_ss >= 60 && dtm_ss < 60 * 60) {
                        var dtm_mm = Math.floor(dtm_ss / 60);
                        e.cellStyle = "text-align:left";
                        e.cellHtml = '<span style="color:blue;font-size: 14px;font-weight: bold;">' + dtm_mm + '分钟前</span>';
                    }
                    if (dtm_ss >= (60 * 60) && dtm_ss < (60 * 60) * 24) {
                        var dtm_hh = Math.floor(dtm_ss / (60 * 60));
                        e.cellStyle = "text-align:left";
                        e.cellHtml = '<span style="color:#008866;font-size: 14px;font-weight: bold;">' + dtm_hh + '小时前</span>';
                    }

                    if (dtm_ss >= 60 * 60 * 24) {
                        var dtm_days = Math.floor(dtm_ss / (60 * 60 * 24)); // 计算天数
                        e.cellStyle = "text-align:left";
                        e.cellHtml = '<span style="color:#888;">' + dtm_days + '天前</span>';
                    }
                }
                
            });
        }
    </script>

    <script>
        var servUrl_AppData = '@ViewData["servUrl_AppData"]';
        function init() {
            //设置表格的高度
            var parentHeight = $(window).height();
            $("#datagrid1").height(parentHeight - 70);
        }



        function search() {
            var dtm_start = mini.get("dtm_start").getText();
            var dtm_end = mini.get("dtm_end").getText();
            var fz_tag = $("#fz_tag").val().trim();
            if (!fz_tag) {
                fz_tag = "agent";
            }
            grid.load({
                "start": dtm_start,
                "end": dtm_end,
                "fz_tag": fz_tag
            });
        }

    </script>
</head>
<body>
    <form id="form1">

        <div class="sys-content-border" style="padding:8px 3px;">
            起始时间: <input id="dtm_start" format="yyyy-MM-dd" class="mini-datepicker" style="width:120px;" value="@ViewData["start"]" /> &nbsp;&nbsp;&nbsp;&nbsp;
            截止时间: <input id="dtm_end" format="yyyy-MM-dd" class="mini-datepicker" style="width:120px;" value="@ViewData["end"]" /> &nbsp;&nbsp;&nbsp;&nbsp;
            fz_tag:<input type="text" class="txt" id="fz_tag" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_search" type="button" class="sys-btn" value="查找" onclick="search()" />
        </div>

        <div id="datagrid1" class="mini-datagrid" style="width:100%;height:600px; margin-top:5px;"
             url="/Admin1/GetCheckWxData" idfield="id" allowresize="true" multiselect="true"
             sizelist="[20,50,100]" pagesize="50">
            <div property="columns">
                <div field="xh" width="20" headeralign="center" align="center" allowsort="false">序号</div>
                <div name="first_time" width="40" headeralign="center" align="center" allowsort="false">注册时间</div>
                <div name="photo" width="20" renderer="onGenderRenderer" align="center" headeralign="center">头像</div>
                <div field="nick" width="40" headeralign="center" align="left" allowsort="false">昵称</div>
                <div field="sex" width="20" headeralign="center" align="center" allowsort="false">性别</div>
                <div field="coin_total" width="20" headeralign="center" align="center" allowsort="false">总金币</div>
                <div field="coin" width="20" headeralign="center" align="center" allowsort="false">可用金币</div>
                <div field="score_total" width="20" headeralign="center" align="center" allowsort="false">总积分</div>
                <div field="score" width="20" headeralign="center" align="center" allowsort="false">可用积分</div>
                <div field="fz_tag" width="50" headeralign="center" align="left" allowsort="false">邀请码</div>
                <div name="least_time" width="40" headeralign="center" align="left" allowsort="false">最近上线</div>
                <div width="200" headeralign="center" align="center" allowsort="false">--</div>
            </div>
        </div>
    </form>
</body>
</html>
