<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Styles/public.css" rel="stylesheet" />
    <link href="~/Styles/style.css" rel="stylesheet" />
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>
    <style>
        .empty {
            display: none;
        }

        .mini-tabs-position-top .mini-tabs-header {
            padding-top: 5px;
            background-color: #EDF6FA;
        }

        tr {
            height: 32px;
        }
    </style>
    <script type="text/javascript">
        var tabs;

        $(function () {
            mini.parse();
            tabs = mini.get("mainTabs");
        });

    </script>
    <script>
        function onTabsActiveChanged() {

        }

    </script>
</head>
<body>
    <div id="mainTabs" class="mini-tabs" activeindex="0" style="width:99%;height:99%; margin-left:3px;"
         onactivechanged="onTabsActiveChanged" plain="true">

        <div name="汇总" title="汇总" url="/Agent/Admin_Sum"></div>
        <div name="总体统计" title="总体统计" url="/Agent/Admin_Sum_All"></div>
        <div name="日统计" title="日统计" url="/Agent/Admin_Sum_Day"></div>
        <div name="邀请明细" title="邀请明细" url="/Agent/Admin_Invite"></div>
        <div name="支付明细" title="支付明细" url="/Agent/Admin_Pay"></div>
        <div name="积分明细" title="积分明细" url="/Agent/Admin_Score"></div>

    </div>
</body>
</html>

