
<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Styles/style2.css?id=0" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>

    <link href="~/Styles/public.css?id=1" rel="stylesheet" />
    <script src="~/Scripts/public.js?id=8"></script>
   
     <style>
         .txt {
             width: 120px;
             height:22px;
             line-height:22px;
             border-radius: 5px;
             border: 1px solid #dfdfdf;
         }
         select {
             width: 80px;
             border-radius: 5px;
             border: 1px solid #dfdfdf;
         }

        .sys-summary {
            display: inline-block;
            text-align: center;
            min-width: 20px;
            font-size: 18px;
            color: #ff6a00;
        }

        .photo-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .gray {
            color: #808080;
        }

        .blue {
            color: blue;
        }
       
        .red {
            color: red;
        }

        .mny {
            display: inline-block;
            width: 160px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            background-color: #dcdcdc;
            border-radius: 4px;
        }
    </style>

    <script type="text/javascript">
        var servUrl_AppData = '@ViewData["servUrl_AppData"]';
        var grid;
        $(function () {
            //设置表格的高度
            var parentHeight = $(window).height();
            $("#datagrid1").height(parentHeight - 90);

            mini.parse();

            grid = mini.get("datagrid1");

            //grid.load();
            search();

            drawCell();

            init();
        })

        function init() {

        }

        function drawCell() {
            grid.on("drawcell", function (e) {
                var record = e.record,
                    column = e.column,
                    field = e.field,
                    value = e.value;

                //详情
                if (column.name == "dtl") {
                    e.cellStyle = "text-align:center";

                    e.cellHtml = '';

                    var uid = record.uid;
                    var uid_inner = record.uid_inner;
                    var txt = record.tx_mny - record.fee;
                    if (!uid_inner) {
                        e.cellHtml += '<a style="color:blue;" href="javascript:update(\'' + record.id + '\',' + txt + ')">审核</a>';
                        e.cellHtml += "&nbsp;&nbsp;&nbsp;";
                    }
                    e.cellHtml += '<a style="color:blue;" href="javascript:sendWxMsg(\'' + record.id + '\')">发送微信通知</a>';
                }

                if (column.name == "uid") {
                    var uid_inner = record.uid_inner;
                    if (uid_inner) {
                        e.rowStyle = 'color:red;font-weight:bold';
                    }

                }

                if (column.name == "apply_date") {
                    var dtm = record.apply_date;
                    dtm = dtm.replace(" ", "<br/>");
                    e.cellHtml = '<span style="color:blue; font-size:16px;">' + dtm + '</span>';

                    var diff_hour = record.diff_hour;
                    if (diff_hour) {
                        e.cellHtml += '<br/><br/><span style="color:red; font-size:18px; font-weight:bold;">' + diff_hour + '小时</span>';
                    }
                }

                if (column.name == "wx_account") {
                    var dtm = record.wx_account; 
                    e.cellHtml = '<span style="color:blue; font-size:16px;">' + dtm + '</span>';
                }
                if (column.name == "remark") {
                    var remark = record.remark;
                    e.cellHtml = '<span style="color:red; font-size:16px;font-weight:bold;">' + remark + '</span>';
                }

                
                

                if (column.name == "state") {
                    var state = record.state;
                    
                    var txt = '待审核';
                    var cls = 'gray';
                    if (state == "成功") {
                        txt = '成功';
                        cls = 'blue';
                    }
                    else if (state == "失败") {
                        txt = '失败';
                        cls = 'red';
                    }
                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<span class="' + cls + '">' + txt + '</span>';
                    var state_wxsend = record.state_wxsend;
                    if (state_wxsend == null) {
                        state_wxsend = "未发送";
                        e.cellHtml += '<br/>|<br/><span style="color:#888; font-size:14px;">' + state_wxsend + '</span>';
                    }
                    if (state_wxsend=="成功") {
                        e.cellHtml += '<br/>|<br/><span style="color:blue; font-size:14px;">' + state_wxsend + '</span>';
                    }
                    if (state_wxsend == "失败") {
                        e.cellHtml += '<br/>|<br/><span style="color:red; font-size:14px;">' + state_wxsend + '</span>';
                    }
                }
                //审核周期
                if (column.name == "check_cycle") {
                    var dtm = record.apply_date;
                    var dtm_check = record.pay_date;
                    var diff_time = "";
                    if (dtm_check == null) {
                        diff_time = "";
                    } else {
                        dtm = new Date(dtm).getTime();
                        dtm_check = new Date(dtm_check).getTime();
                        diff_time = dtm_check - dtm;
                        var audit_cycle_days = Math.floor(diff_time / (1000 * 60));
                        if (audit_cycle_days < 1) {
                            var second = diff_time / 1000;
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span class="blue">' + second + '秒</span>';
                        }
                        if (audit_cycle_days >= 1 && audit_cycle_days < 60) {
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span style="font-size: 14px;color:blue;">' + audit_cycle_days + '分钟</span>';
                        }
                        if (audit_cycle_days >= 60 && audit_cycle_days < 60 * 24) {
                            audit_cycle_days = Math.floor(diff_time / (1000 * 60 * 60));
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span style="color:red;font-size:14px;">' + audit_cycle_days + '小时</span>';
                        }
                        if (audit_cycle_days >= 60 * 24) {
                            audit_cycle_days = Math.floor(diff_time / (1000 * 60 * 60 * 24));
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span style="color:red;font-size:14px;font-weight: bold;">' + audit_cycle_days + '天</span>';
                        }
                    }

                }

                if (column.name == "tx_mny") {
                    e.cellHtml = '<span style="font-size:18px;">￥' + record.tx_mny + '</span>';
                }
                if (column.name == "fee") {
                    e.cellHtml = '<span>￥' + record.fee + '</span>';
                }
                if (column.name == "pay_mny") {
                    e.cellHtml = '<span class="red" style="font-size:18px;">￥' + record.pay_mny + '</span>';
                }
                if (column.name == "pay_mny_0") {
                    var txt = record.tx_mny - record.fee;
                    e.cellHtml = '<span class="blue" style="font-size:18px;">￥' + txt.toFixed(2) + '</span>';
                }
                

                if (column.name == "account") {
                    var account = record.account;
                    var txt = '';
                    if (account.length == 11) {
                        txt = account.substr(0, 4);
                        txt += '-';
                        txt += account.substr(4, 4);
                        txt += '-';
                        txt += account.substr(8, 3);
                    }
                    else {
                        txt = account;
                    }
                    e.cellHtml = '<span class="red" style="font-size:18px;">' + txt + '</span>';
                }



                if (column.name == "photo") {
                    var photo = servUrl_AppData + '/photo/' + record.photo;
                    var nick = record.nick;
                    var sex = record.sex;
                    var color = "";
                    if (sex == "男生") {
                        color = "blue";
                    } else {
                        color = "red";
                    }

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<a href="javascript:UserAllInfo(\'' + record.uid + '\')"><img src="' + photo + '" class="photo-img" />';
                    e.cellHtml += "<br/>";
                    e.cellHtml += "<span style='color:" + color + "'>" + nick + "(" + sex + ")" + "</span></a>";
                }
            });
        }


        function search() {
            var key = $("#key").val();
            var check_state = $("#check_state").val();
            
            var dtm_start = mini.get("dtm_start").getText();
            var dtm_end = mini.get("dtm_end").getText();

            grid.load({
                "check_state": check_state,
                "start": dtm_start,
                "end": dtm_end,
                "key": key
            });
        }
       
        function update(id, pay_mny) {
            var parentHeight = $(window.parent.document).find("#rightFrame").height();
            var parentWidth = $(window.parent.document).find("#rightFrame").width();

            mini.open({
                url: "/Check/Score_Tx_Rst/?id=" + id + "&pay_mny=" + pay_mny,
                showMaxButton: false,
                title: "审核",
                width: 800,
                height: 330,
                ondestroy: function (action) {
                    if (action == "ok") {
                        grid.reload();
                    }
                    else if (action == "cancel") {

                    }
                }
            });
        }

        function dataOut() {

            var selectedMsg;

            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                var ids = [];
                for (var i = 0, l = rows.length; i < l; i++) {
                    var r = rows[i];
                    var _item = { "openid": r.openid, "mny": r.money_real };
                    ids.push(_item);
                }
                selectedMsg = JSON.stringify(ids);
            } else {
                alert("请选中一条记录");
            }

            var strSend = selectedMsg;

            $.ajax({
                type: "POST",
                url: "/Admin1/OutData",
                data: { "send": strSend},
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.state == "1") {
                        var file = data.msg;
                        $("#lnk_down").html(file);
                        $("#lnk_down").attr("href", "/Admin1/DownLoadTxt/" + file);
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
        }

        function onDrawSummaryCell(e) {
            var result = e.result;
            var grid = e.sender;

            //客户端汇总计算
            if (e.field == "tx_mny") {
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span style="display:inline-block;margin:10px 0; font-size:18px;">￥' + e.cellHtml + '</span>';
            }
            if (e.field == "fee") {
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span>￥' + e.cellHtml + '</span>';
            }
          
            if (e.field == "pay_mny") {
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span style="color: red;font-size:18px;">￥' + e.cellHtml + '</span>';
            }

        }

        function sendWxMsg(id) {
            var parentHeight = $(window.parent.document).find("#rightFrame").height();
            var parentWidth = $(window.parent.document).find("#rightFrame").width();

            mini.open({
                url: "/Admin1/SendWxMsg_Tx/" + id,
                showMaxButton: false,
                title: "发送微信通知",
                width: 600,
                height: 400,
                ondestroy: function (action) {
                    if (action == "ok") {
                        grid.reload();
                    }
                    else if (action == "cancel") {

                    }
                }
            });
        }

    </script>
</head>
<body>
    <form id="form1">
        <div style="padding: 15px; margin-bottom: 5px; border: solid 1px #dcdcdc;">
            状态:<select id="check_state" style="height:24px;">
                <option value="" selected="selected">全部</option>
                <option value="待审核">待审核</option>
                <option value="成功">成功</option>
                <option value="失败">失败</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;
            查询关键词:   <input type="text" class="txt" id="key" />&nbsp;(姓名/微信号)&nbsp;&nbsp;&nbsp;&nbsp;
            开始日期:<input id="dtm_start" format="yyyy-MM-dd" class="mini-datepicker" style="width:120px;" value="@ViewData["start"]" /> &nbsp;&nbsp;&nbsp;&nbsp;
            截止日期:<input id="dtm_end" format="yyyy-MM-dd" class="mini-datepicker" style="width:120px;" value="@ViewData["end"]" /> &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="sys-btn" value="查找" onclick="search()" />&nbsp;&nbsp;&nbsp;&nbsp;
          
            <span class="mny" style="display:none;">已提现金额:<span class="blue">￥@ViewData["money"]</span></span>
            <span class="mny" style="display:none;">待提现金额:<span class="red">￥@ViewData["money2"]</span></span>
            <span class="mny" style="display:none;">提现失败金额:<span class="red">￥@ViewData["money3"]</span></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="sys-btn" value="导出" onclick="dataOut()" style="display:none;"/>
            <a id="lnk_down" href="#" style="display:none;">-</a>
            
        </div>
        <div id="datagrid1" class="mini-datagrid" style="width:100%;height:600px;"
             url="/Check/GetScoreTxList" idfield="id" allowresize="true" multiselect="true"
              showsummaryrow="true" ondrawsummarycell="onDrawSummaryCell"
             sizelist="[100,1000]" pagesize="100">
            <div property="columns">

                <div field="xh" width="30" headeralign="center" align="center" allowsort="false">序号</div>
                <div name="apply_date" width="80" renderer="onGenderRenderer" align="center" headeralign="center">申请时间</div>
                <div name="photo" width="120" headeralign="center" align="center" allowsort="false">头像</div>

                <div field="remark" name="remark" width="100" headeralign="center" align="left" allowsort="false">备注</div>

                <div name="wx_account" width="120" headeralign="center" align="left" allowsort="false">微信账号</div>
                <div field="tel" width="90" headeralign="center" align="center" allowsort="false">手机号码</div>

                <div name="tx_mny" field="tx_mny" width="70" renderer="onGenderRenderer" align="right" headeralign="center" summarytype="sum">申请金额</div>
                <div name="fee" field="fee" width="50" renderer="onGenderRenderer" align="right" headeralign="center" summarytype="sum">手续费</div>
                <div name="pay_mny_0" field="pay_mny_0" width="70" renderer="onGenderRenderer" align="right" headeralign="center">应发金额</div>
                <div name="pay_mny" field="pay_mny" width="60" renderer="onGenderRenderer" align="right" headeralign="center" summarytype="sum">实发金额</div>

                <div field="score_tx" width="50" renderer="onGenderRenderer" align="right" headeralign="center">兑换积分</div>
                <div field="score_left" width="70" renderer="onGenderRenderer" align="right" headeralign="center">剩余积分</div>

                <div field="check_cycle" name="check_cycle" width="40" headeralign="center" align="center" allowsort="false">审核周期</div>
                <div name="state" width="60" headeralign="center" align="center" allowsort="false">审核状态</div>

                <div name="dtl" width="120" headeralign="center" align="center" allowsort="false">操作</div>

                @*<div field="rz_tel" width="80" headeralign="center" align="center" allowsort="false">认证手机号</div>
        <div field="rz_wx" width="80" headeralign="center" align="center" allowsort="false">认证微信号</div>*@

                <div field="brife" width="70" renderer="onGenderRenderer" align="left" headeralign="center">审核原因</div>


            </div>
        </div>
    </form>
</body>
</html>


