

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Styles/style2.css?id=0" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>

    <link href="~/Styles/public.css?id=" rel="stylesheet" />
    <script src="~/Scripts/public.js?id=100"></script>

    <style>
        select {
            width: 80px;
            border-radius: 5px;
            border: 1px solid #dfdfdf;
        }

        .sys-summary {
            display: inline-block;
            text-align: center;
            min-width: 20px;
            font-size: 18px;
            color: #ff6a00;
        }

        .photo-img {
            width: 40px;
            height: 40px;
            border: solid 1px #dcdcdc;
            border-radius: 50%;
        }

        .photo-img-big {
            width: 100px;
            height: 100px;
        }

        .red {
            font-size: 18px;
            font-weight: bold;
            color: #f00;
        }

        .blue {
            font-size: 14px;
            font-weight: bold;
            color: blue;
        }

        .yellow {
            font-size: 18px;
            font-weight: bold;
            color: yellow;
        }
    </style>

    <script type="text/javascript">
        var grid;
        var no_uniformityData = [];
        $(function () {
            mini.parse();
            grid = mini.get("datagrid1");
            grid.load();
            search();
            drawCell();

            init();
            bindEvent();
        })

        function drawCell() {
            grid.on("drawcell", function (e) {
                var record = e.record,
                    column = e.column,
                    field = e.field,
                    value = e.value;

                //详情
                if (column.name == "dtl") {
                    e.cellStyle = "text-align:center";
                    e.cellHtml += '<a style="color:blue;" href="javascript:Check(\'' + record.id + '\',1)">通过</a>';
                    e.cellHtml += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                    e.cellHtml += '<a style="color:blue;" href="javascript:Check(\'' + record.id + '\',0)">不通过</a>';
                }
                if (column.name == "val_new") {
                    if (record.field_name == "photo") {
                        var photo = servUrl_AppData + '/photo/' + record.val_new;

                        e.cellStyle = "text-align:center";
                        e.cellHtml = '<a href="javascript:Look_BIg_Photo(\'' + photo + '\')"><img src="' + photo + '" class="photo-img" /></a>';
                        e.cellHtml += "&nbsp;&nbsp;&nbsp;";
                    }
                    else {
                        var txt = record.val_new;
                        e.cellHtml = "<span style='line-height:45px;'>" + txt + "</span>";

                    }

                }
                if (column.name == "val_old") {
                    if (record.field_name == "photo") {
                        var photo = record.val_old;

                        e.cellStyle = "text-align:center";
                        e.cellHtml = '<img src="' + photo + '" class="photo-img" />';
                        e.cellHtml += "&nbsp;&nbsp;&nbsp;";
                    }
                    else {
                        var txt = record.val_old;
                        e.cellHtml = txt;

                    }

                }

                if (column.name == "check_state") {
                    var state = record.check_state;
                    var txt = '待审核';
                    var cls = 'gray';
                    if (state == "通过") {
                        txt = '通过';
                        cls = 'blue';
                    }
                    else if (state == "失败") {
                        txt = '失败';
                        cls = 'red';
                    }
                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<span class="' + cls + '">' + txt + '</span>';

                }
                if (column.name == "check_cycle") {
                    var dtm = record.dtm_apply;
                    var dtm_check = record.dtm_check;
                    var diff_time = "";
                    if (dtm_check == null) {
                        diff_time = "";
                    } else {
                        dtm = new Date(dtm).getTime();
                        dtm_check = new Date(dtm_check).getTime();
                        diff_time = dtm_check - dtm;
                        var audit_cycle_days = Math.floor(diff_time / (1000 * 60));
                        if (audit_cycle_days < 1) {
                            var second = diff_time / 1000;
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span class="blue">' + second + '秒</span>';
                        }
                        if (audit_cycle_days >= 1 && audit_cycle_days < 60) {
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span style="font-size: 14px;color:blue;">' + audit_cycle_days + '分钟</span>';
                        }
                        if (audit_cycle_days >= 60 && audit_cycle_days < 60 * 24) {
                            audit_cycle_days = Math.floor(diff_time / (1000 * 60 * 60));
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span style="color:red;font-size:14px;">' + audit_cycle_days + '小时</span>';
                        }
                        if (audit_cycle_days >= 60 * 24) {
                            audit_cycle_days = Math.floor(diff_time / (1000 * 60 * 60 * 24));
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span style="color:red;font-size:14px;font-weight: bold;">' + audit_cycle_days + '天</span>';
                        }
                    }

                }
                if (column.name == "photo") {
                    var photo = servUrl_AppData + '/photo/' + record.photo;

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<a href="javascript:UserAllInfo(\'' + record.uid + '\')"><img src="' + photo + '" class="photo-img" /></a>';

                }

                if (column.name == "uniformity") {
                    var field_name = record.field_name;
                    if (field_name == "nick") {
                        var val_new = record.val_new;
                        var val_old = record.nick;
                        if (val_new === val_old) {
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span style="font-size:14px;">是</span>';
                        } else {
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span style="color:red;font-size:14px;font-weight: bold;">否</span>';
                            
                        }
                    }
                    if (field_name == "photo") {
                        var val_new = record.val_new;
                        var val_old = record.photo;
                        if (val_new === val_old) {
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span style="font-size:14px;">是</span>';
                        } else {
                            e.cellStyle = "text-align:center";
                            e.cellHtml = '<span style="color:red;font-size:14px;font-weight: bold;">否</span>';
                            no_uniformityData.push(record);
                        }
                    }
                    
                }

            });
        }

    </script>

    <script>
        var servUrl_AppData = '@ViewData["servUrl_AppData"]';
        function init() {
            //设置表格的高度
            var parentHeight = $(window).height();
            $("#datagrid1").height(parentHeight - 80);
        }

        function bindEvent() {
        }

        function search() {
            var check_state = $("#check_state").val();
            var check_type = $("#check_type").val();
            var check_uniformity = $("#check_uniformity").val();

            var dtm_start = mini.get("dtm_start").getText();
            var dtm_end = mini.get("dtm_end").getText();

            grid.load({
                "start": dtm_start,
                "end": dtm_end,
                "check_state": check_state,
                "field_name": check_type,
                "uniformity": check_uniformity
            });

        }

        function Look_BIg_Photo(pic) {
            mini.open({
                url: "/Admin1/Big_Photo/?pic="+pic,
                showMaxButton: false,
                title: "查看大图",
                width: 518,
                height: 550,
                ondestroy: function (action) {

                }
            });
        }

        function Check(id, state) {

            var tag = confirm("确定要审核吗");
            if (tag == false) {
                return false;
            }

            // 获取当前登录者信息
            var operator_name = getCurrentOperator();

            $.ajax({
                type: "get",
                url: "/Check/Update_UserInfo",
                data: { "id": id, "state": state, "operatorName": operator_name },
                success: function (data) {
                    var data = JSON.parse(data);
                    if (data.state == '1') {
                        grid.reload();
                    }

                }
            });
            //if (tag==true) {
            //    $.ajax({
            //        type: "get",
            //        url: "/Admin1/Update_UserInfo",
            //        data: { "id": id, "state": state },
            //        success: function (data) {
            //            var data = JSON.parse(data);
            //            if (data.state == '1') {
            //                grid.reload();
            //            }

            //        }
            //    });
            //}

        }

        function del() {
            var tag = confirm("确定要删除吗");
            if (tag == false) {
                return false;
            }

            var selectedData = mini.get("datagrid1").getSelecteds();
            var selectedId = selectedData.map(item => item.id);
            selectedId = selectedId.join(",");
            $.ajax({
                type: "post",
                url: "/Check/DeletePhotos",
                data: { "ids": selectedId },
                success: function (data) {
                    var data = JSON.parse(data);
                    if (data.state == '1') {
                        grid.reload();
                    }
                }
            });
        }

        function selectNoUniformity() {
            no_uniformityData.forEach(item => {
                mini.get("datagrid1").setSelected(item);
            });
        }

    </script>
</head>
<body>
    <form id="form1">

        <div class="sys-content-border" style="padding:8px 3px;">
            开始日期: <input id="dtm_start" format="yyyy-MM-dd" class="mini-datepicker" style="width:120px;" value="@ViewData["start"]" /> &nbsp;&nbsp;&nbsp;&nbsp;
            截止日期: <input id="dtm_end" format="yyyy-MM-dd" class="mini-datepicker" style="width:120px;" value="@ViewData["end"]" /> &nbsp;&nbsp;&nbsp;&nbsp;
            类别:
            <select id="check_type" style="height:24px;">
                <option value="" selected="selected">全部</option>
                <option value="nick">昵称</option>
                <option value="photo">头像</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;
            一致性:
            <select id="check_uniformity" style="height:24px;">
                <option value="" selected="selected">全部</option>
                <option value="1">一致</option>
                <option value="0">不一致</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;
            审核状态:
            <select id="check_state" style="height:24px;">
                <option value="" selected="selected">全部</option>
                <option value="待审核">待审核</option>
                <option value="通过">通过</option>
                <option value="失败">失败</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_search" type="button" class="sys-btn" value="查找" onclick="search()" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_delete" type="button" class="sys-btn" value="删除" onclick="del()" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_select" type="button" class="sys-btn" value="选中" onclick="selectNoUniformity()" />
        </div>

        <div id="datagrid1" class="mini-datagrid" style="width:100%;height:600px; margin-top:5px;"
             url="/Check/GetUpDateUserInfoData" idfield="id" allowresize="true" multiselect="true"
             sizelist="[20,50,100]" pagesize="50">
            <div property="columns">
                <div type="checkcolumn" id="check_uniformity" width="5" headeralign="center" align="center"></div>
                <div name="uniformity" width="10" headeralign="center" align="center" allowsort="false">一致性</div>
                <div field="xh" width="10" headeralign="center" align="center" allowsort="false">序号</div>
                <div field="id" width="10" headeralign="center" align="center" allowsort="false">id</div>
                <div name="photo" width="15" renderer="onGenderRenderer" align="center" headeralign="center">头像</div>
                <div field="nick" width="15" headeralign="center" align="left" allowsort="false">昵称</div>
                <div field="sex" width="10" headeralign="center" align="center" allowsort="false">性别</div>
                <div field="field_name" width="10" renderer="onGenderRenderer" align="center" headeralign="center">类别</div>
                <div field="dtm_apply" width="20" renderer="onGenderRenderer" align="center" headeralign="center">申请时间</div>
                <div name="val_old" width="15" headeralign="center" align="left" allowsort="false">历史名称</div>
                <div name="val_new" width="15" headeralign="center" align="center" allowsort="false">新名称</div>
                <div field="check_cycle" name="check_cycle" width="10" headeralign="center" align="center" allowsort="false">审核周期</div>
                <div field="check_state" name="check_state" width="10" renderer="onGenderRenderer" align="center" headeralign="center">审核状态</div>
                <div name="dtl" width="25" headeralign="center" align="left" allowsort="false">操作</div>
                <div field="dtm_check" width="20" renderer="onGenderRenderer" align="center" headeralign="center">审核时间</div>
                <div name="" width="50" headeralign="center" align="left" allowsort="false">--</div>
            </div>
        </div>

    </form>
</body>
</html>
