<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Styles/demo.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/laydate/laydate.js"></script>
    <script src="~/Scripts/public.js"></script>
    <style>
        .btn {
            margin-top: 20px;
            color: white;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            bottom: 0;
            border: 1px solid RGB(62,175,224);
            border-radius: 5px;
            width: 200px;
            cursor: pointer;
        }

        .ok {
            background-color: RGB(62,175,224);
        }

        .main {
            margin-top: 35px;
            display: flex;
            justify-content: center;
        }

        #form1 {
            text-align: center;
        }

        select {
            width: 200px;
            height: 28px;
            line-height: 28px;
            border-radius: 5px;
            outline: none;
        }

        input {
            width: 200px;
            height: 28px;
            line-height: 28px;
            border-radius: 5px;
            outline: none;
            border: 1px solid #767676;
            padding: 5px 8px;
        }
    </style>
</head>
<body>
    <div class="main">
        <form id="form1">
            <div>
                <span>操作:&nbsp;&nbsp;</span>
                <select id="type">
                    <option value="">请选择</option>
                </select>
            </div>
            <br />
            <div>
                <span>详情:&nbsp;&nbsp;</span>
                <select id="type_dtl">
                    <option value="">请选择</option>
                </select>
            </div>
            <br />
            <div>
                <span>时间:&nbsp;&nbsp;</span>
                <input type="text" class="txt" placeholder="请选择日期" id="time">
            </div>
            <br />
            <div>
                <span>数量:&nbsp;&nbsp;</span>
                <input type="text" id="amount" style="width:170px; height:28px; line-height:28px;" />
                <span>&nbsp;-&nbsp;</span>
                <span id="amount_num"></span>
            </div>
            <br />
            <div>
                <span>备注:&nbsp;&nbsp;</span>
                <select id="sel_com">
                    <option value="">请选择</option>
                </select>
               
            </div>
            <div>
                <span>备注:&nbsp;&nbsp;</span>
                <input type="text" id="comment" style="width:200px; height:28px; line-height:28px;" />
            </div>
           
            <div>
                <span>操作:&nbsp;&nbsp;</span>
                <input type="button" id="btn_ok" class="btn ok" value="修改" />
            </div>
        </form>
    </div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        laydate.render({
            elem: '#time' //指定元素
        });

        // 批量加载下拉框数据
        var categories = ["action_score_type", "action_score_type_dtl", "action_score_comment"];
        loadBatchDropdownOptions(categories, function(data) {
            // 更新下拉框选项
            updateDropdown("type", data["action_score_type"], false);
            updateDropdown("type_dtl", data["action_score_type_dtl"], false);
            updateDropdown("sel_com", data["action_score_comment"], false);
        });

        $("#btn_ok").bind("click", function () {
            var uid = "@ViewData["uid"]";
            var type = $("#type").val();
            var amount = $("#amount").val();
            var type_dtl = $("#type_dtl").val();
            var comment = $("#comment").val().trim();
            
            var dtm = $("#time").val();
            var state = "成功";

            if (comment == "") {
                alert("请填写备注");
                return false;
            }

            var jsondata = {
                "type": type,
                "amount": amount,
                "type_dtl": type_dtl,
                "state": state,
                "dtm": dtm,
                "comment": comment
            };
            jsondata = JSON.stringify(jsondata);
            $.ajax({
                type: "POST",
                url: "/Admin1/Action_Score_Data/",
                data: { "uid": uid, "send": jsondata },
                success: function (data) {
                    var data = JSON.parse(data);
                    if (data.state == "1") {
                        alert("操作成功");
                    } else {
                        alert("操作失败");
                    }
                    CloseWindow("ok");
                }
            });

        });

        $("#sel_com").change(function () {
            var txt = $("#sel_com").val();
            $("#comment").val(txt);
        });

        $("#type").change(function () {
            var type = $("#type").val();
            var type_dtl = "平台操作-" + type;
            $("#type_dtl").val(type_dtl);
        });
        
        var comment = "@ViewData["comment"]";
        if (comment != "") {
            $("#sel_com").val(comment);
            $("#comment").val(comment);
        }

        function updateAmountDisplay() {
            var amountVal = $('#amount').val();
            // 去除空格，并转换为数字
            var num = parseFloat(amountVal);
            if (isNaN(num)) {
                $('#amount_num').text('0'); // 或清空：text('')
            } else {
                var result = Math.floor(num / 1000); // 或者 Math.round(num / 1000)
                $('#amount_num').text(result);
            }
        }

        // 绑定输入事件
        $('#amount').on('input', updateAmountDisplay);

        // 初始化执行一次，以显示初始值对应的结果
        updateAmountDisplay();

    });


    function CloseWindow(action) {
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }
</script>