
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    
    <link href="~/Styles/public.css" rel="stylesheet" />

    <style>
        p{
            font-size:16px;
            color:#333;
            margin-top:15px;
            line-height:30px;
            padding:30px;
        }
    </style>

   
</head>
<body>
    <div style="height:300px;" class="ub ub-ver">
        <p>欢迎使用小火柴-后台管理系统<br />
          点击左侧菜单进入具体功能~
        </p>
    </div>
    
</body>
</html>








