
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>

    <!-- S  amcharts 资源 -->
    <script src="~/Scripts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="~/Scripts/amcharts/gauge.js" type="text/javascript"></script>
    <script src="~/Scripts/amcharts/pie.js" type="text/javascript"></script>
    <script src="~/Scripts/amcharts/serial.js" type="text/javascript"></script>
    <!-- E  amcharts 资源 -->

    <script src="~/Scripts/AmChartsDemo1-line.js"></script>
    <script src="~/Scripts/Global.js"></script>
    <link href="~/Styles/style.css" rel="stylesheet" />
    <link href="~/Styles/public.css" rel="stylesheet" />
    <style>
        select {
            width: 80px;
            border-radius: 5px;
            border: 1px solid #dfdfdf;
        }
    </style>

    <script type="text/javascript">

        $(function () {
            //设置表格的高度
            var parentHeight = $(window.parent.document).find("#rightFrame").height();
            $("#divContainer").height(parentHeight - 130);

            init();
        })

        function init() {
            var data = '@Html.Raw(ViewData["data"])';
            console.log(data);
            data = JSON.parse(data);
            //线图
            showLine546(data, "divContainer");

            //各个小时的数据展示
            show_eachHour(data);
        }

        function show_eachHour(data) {
            var now = new Date();
            var hour = now.getHours();//得到小时
          
            var item_data = [];
            for (var i = 0; i <= hour; i++) {
                for (var ii = 0; ii < 60; ii++) {
                    item_data.push(data[i*60 + ii]);
                }
                item_data.push({ "dtm": item_data[0].dtm.substr(0,14)+"60", "数量": 0 });
                showLine546(item_data, "divContainer_" + i);
                item_data = [];
            }
        }

        function search() {

            var dtm = mini.get("dtm").getText();
            var url = "/Admin1/Msg_Sum_Min/?dtm=" + dtm;
            window.location.href = url;
        }

    </script>

    <script>
        function showLine546(data, div_id) {
            // 创建chart
            var chart = new AmCharts.AmSerialChart();
            chart.color = "#888888";
            chart.dataProvider = data;
            chart.categoryField = "dtm"; //横轴显示内容
            chart.startDuration = 1;

            // x轴
            var categoryAxis = chart.categoryAxis;
            categoryAxis.dashLength = 1;
            categoryAxis.fillColor = "#ffffff";
            categoryAxis.axisColor = "#888888";
            categoryAxis.labelRotation = 45; //横轴字体倾斜度数

            // x轴值
            var valueAxis = new AmCharts.ValueAxis();
            valueAxis.inside = false;
            valueAxis.axisColor = "#888888";
            chart.addValueAxis(valueAxis);

            // 图
            var graph = new AmCharts.AmGraph();
            graph.valueAxis = valueAxis;
            graph.bullet = "round"; //"none", "round", "square", "triangleUp", "triangleDown", "triangleLeft", "triangleRight", "bubble", "diamond", "xError", "yError" and "custom".
            graph.bulletSize = 8; //大小
            graph.bulletBorderColor = "#FFFFFF";

            graph.lineColor = "#0000FF"; //线条颜色 "00FF00" "0000FF"
            graph.valueField = "数量"; //纵轴显示内容
            graph.title = "聊天量";
            graph.balloonText = "[[category]]聊天量<br><b><span style='font-size:14px;'>[[value]]</span></b>"; //提示信息
            chart.addGraph(graph);



            if (false) {
                //
                graph = new AmCharts.AmGraph();
                graph.valueAxis = valueAxis;
                graph.bullet = "round";//
                graph.bulletSize = 8;//
                graph.bulletBorderColor = "#FFFFFF";
                graph.lineColor = "#ff0099";//
                graph.valueField = "tie_ads"; //纵轴显示内容
                graph.title = "标记广告";
                graph.balloonText = "[[category]]标记广告<br><b><span style='font-size:14px;'>[[value]]</span></b>"; //提示信息
                chart.addGraph(graph);
            }

            // 光标
            var chartCursor = new AmCharts.ChartCursor();
            chartCursor.cursorAlpha = 0;
            chartCursor.cursorPosition = "mouse";
            chartCursor.graphBulletSize = 1.5;
            chart.addChartCursor(chartCursor);
            chart.numberFormatter.precision = 0;

            //图例
            var legend = new AmCharts.AmLegend();
            legend.align = "center";
            chart.addLegend(legend);

            chart.write(div_id);
        };
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">消息统计（分钟）</a></li>
        </ul>
    </div>
    <form id="form1">
        <div style="padding:10px; margin-bottom:5px; border: solid 1px #dcdcdc;">
            选择日期:<input id="dtm" format="yyyy-MM-dd" class="mini-datepicker" style="width:120px;" value="@ViewData["dtm"]" /> &nbsp;&nbsp;&nbsp;&nbsp;

            <input type="button" value="加载数据" class="sys-btn" onclick="search()" />&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div id="divContainer" style="width: 100%; border: solid 1px #dcdcdc"></div>

        @{
            int cur_hour = DateTime.Now.Hour;
            
            for (int i = cur_hour; i >= 0; i--)
            { <div style="height:30px; line-height:30px; font-size:18px;">@i 点消息统计</div>
              <div id="divContainer_@i.ToString()" style="width: 100%; height:500px; border: solid 1px #dcdcdc"></div>
            }
        }

       
    </form>
</body>
</html>


