

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Styles/style2.css?id=0" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>

    <link href="~/Styles/public.css?id=1" rel="stylesheet" />
    <script src="~/Scripts/public.js?id=6"></script>

    <style>
        select {
            width: 80px;
            border-radius: 5px;
            border: 1px solid #dfdfdf;
            
        }

        .txt {
            height: 22px;
            line-height: 22px;
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            padding-left: 5px;
            width: 220px;
        }

        .sys-summary {
            display: inline-block;
            text-align: center;
            min-width: 20px;
            font-size: 18px;
            color: #ff6a00;
        }

        .photo-img {
            width: 40px;
            height: 40px;
            border: solid 1px #dcdcdc;
            border-radius: 50%;
        }

        .photo-img-big {
            width: 100px;
            height: 100px;
        }

        .red {
            font-size: 22px;
            font-weight: bold;
            color: #f00;
        }

        .blue {
            font-size: 22px;
            font-weight: bold;
            color: blue;
        }

        .yellow {
            font-size: 18px;
            font-weight: bold;
            color: yellow;
        }
    </style>

    <script type="text/javascript">
        var grid;
        $(function () {
            mini.parse();
            grid = mini.get("datagrid1");
            grid.load();
            //search();
            drawCell();

            init();
        })

        function drawCell() {
            grid.on("drawcell", function (e) {
                var record = e.record,
                    column = e.column,
                    field = e.field,
                    value = e.value;

                //详情
                if (column.name == "dtl") {
                    e.cellStyle = "text-align:center";
                    e.cellHtml += '<a style="color:blue;" href="javascript:UserAllInfo(\'' + record.uid + '\')">全貌</a>';
                    e.cellHtml += '&nbsp;&nbsp;&nbsp;&nbsp;';
                    e.cellHtml += '<a style="color:blue;" href="javascript:RemoveUid(\'' + record.uid + '\', 1)">移除</a>';
                }

                if (column.name == "photo") {
                    var photo = servUrl_AppData + '/photo/' + record.photo;

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<img src="' + photo + '" class="photo-img" />';
                    e.cellHtml += "&nbsp;&nbsp;&nbsp;";
                }

                if (column.name == "total_score") {
                    var total_score = record.total_score;
                   
                    e.cellHtml = '<span class="red">' + total_score + '</span>';
                }

                if (column.name == "match_") {
                    var r = record.match_;

                    if (r > 0) {
                        e.cellHtml = '<span class="blue">' + r + '</span>';
                    }
                }
                if (column.name == "send_suc") {
                    var r = record.send_suc;

                    if (r > 0) {
                        e.cellHtml = '<span class="blue">' + r + '</span>';
                    }
                }
                if (column.name == "send_suc_") {
                    var r = record.send_suc_;

                    if (r > 0) {
                        e.cellHtml = '<span class="blue">' + r + '</span>';
                    }
                }
                if (column.name == "name") {
                    var r = record.name;

                    e.cellHtml = '<span class="blue">' + r + '</span>';
                }
                
                if (column.name == "send_fail_") {
                    var r = record.send_fail_;

                    if (r > 0)
                    {
                        e.cellHtml = '<span class="red">' + r + '</span>';
                    }
                }

                if (column.name == "send_fail_") {
                    var r = record.send_fail_;
                    if (r > 0) {
                        e.rowStyle = 'background-color:#888;';
                    }
                }

                if (column.name == "send_fail_") {
                    var rece = record.send_suc_;
                    var send = record.send_suc;

                    if (rece > 0 && send == 0) {
                        e.rowStyle = 'background-color:#ffd800;';
                    }
                }

            });
        }
    </script>

    <script>
        var servUrl_AppData = '@ViewData["servUrl_AppData"]';
        var uids_online = '@ViewData["uids"]';
        function init() {
            //设置表格的高度
            var parentHeight = $(window.parent.document).find("#rightFrame").height();
            $("#datagrid1").height(parentHeight - 210);
        }

        function add() {
            var uid = $("#uid").val().trim();
            if (!uid || uid.length != 19)
            {
                alert("uid错误");
                return false;
            }

            var tag = confirm("确定要添加吗，这会影响到正式系统的用户匹配情况");
            if (tag) {
                //后台
                $.ajax({
                    type: "Get",
                    url: "/Home/Uids_Add/" + uid,
                    success: function (data) {
                        if (data == "True") {
                            //alert("添加成功");
                            grid.reload();
                        }
                    }
                });
            }
        }

        function SetOnLine() {
            var tag = confirm("确定要上线吗，这会影响到正式系统的用户匹配情况");
            if (tag) {
                //后台
                $.ajax({
                    type: "Get",
                    url: "/Home/SetOnline_Uids",
                    success: function (data) {
                        if (data == "True") {
                            alert("上线成功");
                            grid.reload();
                        }
                    }
                });
            }
        }

        function SetClear() {
            var tag = confirm("确定要清除全部吗，这会影响到正式系统的用户匹配情况");
            if (tag) {
                //后台
                $.ajax({
                    type: "Get",
                    url: "/Home/Clear_Uids",
                    success: function (data) {
                        if (data == "True") {
                            //alert("清除成功");
                            grid.reload();
                        }
                    }
                });
            }
        }

        function RemoveUid(uid) {
            uid = uid.trim();
            if (!uid || uid.length != 19) {
                alert("uid错误");
                return false;
            }

            //var tag = confirm("确定要移除吗，这会影响到正式系统的用户匹配情况");
            if (true) {
                //后台
                $.ajax({
                    type: "Get",
                    url: "/Home/Remove_Uid/" + uid,
                    success: function (data) {
                        if (data == "True") {
                            //alert("移除成功");
                            grid.reload();
                        }
                    }
                });
            }
        }

    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">被匹配设置</a></li>
        </ul>
    </div>
    <form id="form1">
        <div class="tools">
            <ul class="toolbar">
                <li class="click" onclick="SetOnLine()"><span><img src="/Images/frame/ico04.png" /></span>上线</li>
                <li class="click" onclick="SetClear()"><span><img src="/Images/frame/ico05.png" /></span>清除全部</li>
            </ul>
        </div>

        <div class="sys-content-border" style="padding:8px 3px;">
            uid:<input type="text" class="txt" id="uid" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_add" type="button" class="sys-btn" value="添加" onclick="add()" />
        </div>

        <div class="sys-content-border" style="word-break: normal; margin-top:5px; overflow:auto;">@ViewData["uids"]</div>

        <div id="datagrid1" class="mini-datagrid" style="width:100%;height:600px; margin-top:5px;"
             url="/Admin1/GetMatchUidsData" idfield="id" allowresize="true" multiselect="true"
             sizelist="[20,50,100]" pagesize="50">
            <div property="columns">
                <div field="uid" width="100" renderer="onGenderRenderer" align="left" headeralign="center">uid</div>
                <div name="photo" width="60" renderer="onGenderRenderer" align="center" headeralign="center">头像</div>
                <div field="nick" width="60" headeralign="center" align="left" allowsort="false">昵称</div>
                <div field="sex" width="50" headeralign="center" align="center" allowsort="false">性别</div>
                
                <div name="total_score" width="80" headeralign="center" align="center" allowsort="false">总魅力值</div>
                <div field="name" name="name" width="60" headeralign="center" align="center" allowsort="false">所属</div>
                <div field="match_" name="match_" width="80" headeralign="center" align="center" allowsort="false">被匹配次数</div>
                <div field="send_suc" name="send_suc" width="80" headeralign="center" align="center" allowsort="false">发送成功</div>
                <div field="send_fail" name="send_fail" width="80" headeralign="center" align="center" allowsort="false">发送失败</div>

                <div field="send_suc_" name="send_suc_" width="80" headeralign="center" align="center" allowsort="false">接收成功</div>
                <div field="send_fail_" name="send_fail_" width="80" headeralign="center" align="center" allowsort="false">接收失败</div>
             
                <div name="dtl" width="100" headeralign="center" align="center" allowsort="false">操作</div>
            </div>
        </div>
    </form>
</body>
</html>
