
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="~/Scripts/jquery-1.8.2.min.js?id=123"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>
    <link href="~/Styles/public.css" rel="stylesheet" />

    <style>
        .txt {
            margin: 5px;
        }
    </style>

    <script type="text/javascript">

        var id = '@ViewData["id"]';

        $(function () {
            var data = '@Html.Raw(ViewData["data"])';
            data = data.replace(/[\r\n]/g, "");
            data = JSON.parse(data);
            for (var key in data) {
                $("#" + key).val(data[key]);
            }

            $("#btnOK").bind("click", function () {
                doSave();
            });

            if (id != "") {
                $("#key").attr("disabled", "disabled");
            }
        })

        function doSave() {
            var id = $("#id").val();
            var key = $("#key").val();
            var value = $("#value").val();
            var type = $("#type").val();
            var comment = $("#comment").val();

            var send = {
                "id": id,
                "key": key,
                "value": value,
                "type": type,
                "comment": comment
            };
            var strSend = JSON.stringify(send);

            //后台
            $.ajax({
                type: "POST",
                url: "/Admin1/SaveSysDicInfo",
                data: { "send": strSend },
                success: function (data) {
                    data = strToJson(data);
                    if (data.state == "1") {
                        alert(data.msg);
                        CloseWindow("ok");
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
        }

        function CloseWindow(action) {
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        }
    </script>
</head>
<body>
    <form id="form1">
        <div style="padding: 15px; margin-bottom: 5px; border: solid 1px #dcdcdc;">
            <table>
                <tr>
                    <td class="lb">id</td>
                    <td class="ctxt">
                        <input class="txt" type="text" id="id"  />
                    </td>
                </tr>
                
                <tr>
                    <td class="lb">key</td>
                    <td class="ctxt ">
                        <input class="txt" type="text" id="key" />
                    </td>
                </tr>

                <tr>
                    <td class="lb">value</td>
                    <td class="ctxt ">
                        <input class="txt" type="text" id="value" style="width:450px;"/>
                    </td>
                </tr>

                <tr>
                    <td class="lb">type</td>
                    <td class="ctxt ">
                        <input class="txt" type="text" id="type"  />
                    </td>
                </tr>

                <tr>
                    <td class="lb">comment</td>
                    <td class="ctxt ">
                        <input class="txt" type="text" id="comment" style="width:450px;"/>
                    </td>
                </tr>

                <tr>
                    <td class="lb"></td>
                    <td class="ctxt ">
                        <input class="sys-btn" type="button" id="btnOK" value="保存" />
                    </td>
                </tr>

            </table>
        </div>
    </form>
</body>
</html>



