

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Styles/style2.css?id=0" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>

    <link href="~/Styles/public.css?id=1" rel="stylesheet" />
    <script src="~/Scripts/public.js?id=6"></script>

    <style>
        select {
            width: 80px;
            border-radius: 5px;
            border: 1px solid #dfdfdf;
        }

        .txt {
            height: 22px;
            line-height: 22px;
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            padding-left: 5px;
            width: 180px;
        }

        .sys-summary {
            display: inline-block;
            text-align: center;
            min-width: 20px;
            font-size: 18px;
            color: #ff6a00;
        }

        .photo-img {
            width: 40px;
            height: 40px;
            border: solid 1px #dcdcdc;
            border-radius: 50%;
        }

        .photo-img-big {
            width: 100px;
            height: 100px;
        }

        .red {
            font-size: 18px;
            font-weight: bold;
            color: #f00;
        }

        .blue {
            font-size: 14px;
            font-weight: bold;
            color: blue;
        }

        .yellow {
            font-size: 18px;
            font-weight: bold;
            color: yellow;
        }
    </style>

    <script type="text/javascript">
        var grid;
        $(function () {
            mini.parse();
            grid = mini.get("datagrid1");
            grid.load();
            //search();
            drawCell();

            init();
           
        })

        function drawCell() {
            grid.on("drawcell", function (e) {
                var record = e.record,
                    column = e.column,
                    field = e.field,
                    value = e.value;

                //详情
                if (column.name == "dtl") {
                    e.cellStyle = "text-align:center";
                    e.cellHtml += '<a style="color:blue;" href="javascript:dtl(\'' + record.uid + '\')">详情</a>';
                }

                if (column.name == "photo") {
                    var photo = servUrl_AppData + '/photo/' + record.photo;
                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<a href="javascript:UserAllInfo(\'' + record.uid + '\')"><img src="' + photo + '" class="photo-img" /></a>';
                  
                }


            });
        }
    </script>

    <script>
        var servUrl_AppData = '@ViewData["servUrl_AppData"]';
        function init() {
            //设置表格的高度
            var parentHeight = $(window.parent.document).find("#rightFrame").height();
            $("#datagrid1").height(parentHeight - 61);
        }

        function dtl(uid) {
            var parentHeight = $(window.parent.document).find("#rightFrame").height();
            var parentWidth = $(window.parent.document).find("#rightFrame").width();
            mini.open({
                url: "/Admin1/Student_List/" + uid,
                showMaxButton: false,
                title: "详情",
                width:parentWidth-100,
                height: parentHeight-100,
                ondestroy: function (action) {
                    
                }
            });
        }
       
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">师徒关系</a></li>
        </ul>
    </div>
    <form id="form1">
        <div id="datagrid1" class="mini-datagrid" style="width:100%;height:600px; margin-top:5px;"
             url="/Admin1/GetTeacherStudentData" idfield="id" allowresize="true" multiselect="true"
             sizelist="[20,50,100]" pagesize="50">
            <div property="columns">
                <div field="xh" width="40" headeralign="center" align="center" allowsort="false">序号</div>
                <div name="photo" width="50" renderer="onGenderRenderer" align="center" headeralign="center">头像</div>
                <div field="nick" name="nick" width="55" headeralign="center" align="left" allowsort="false">昵称</div>
                <div field="sex" width="30" headeralign="center" align="center" allowsort="false">性别</div>
                <div field="remark" width="40" headeralign="center" align="left" allowsort="false">备注</div>
                <div field="c" width="30" headeralign="center" align="left" allowsort="false">徒弟个数</div>
                <div name="dtl" width="30" headeralign="center" align="center" allowsort="false">详情</div>
                <div name="" width="280" headeralign="center" align="center" allowsort="false">---</div>
            </div>
        </div>
    </form>
</body>
</html>
