

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Styles/style2.css?id=0" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js?id=1"></script>

    <link href="~/Styles/public.css?id=1" rel="stylesheet" />
    <script src="~/Scripts/public.js?id=7"></script>

    <style>
        select {
            width: 80px;
            border-radius: 5px;
            border: 1px solid #dfdfdf;
        }

        .txt {
            height: 22px;
            line-height: 22px;
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            padding-left: 5px;
            width: 160px;
        }

        .sys-summary {
            display: inline-block;
            text-align: center;
            min-width: 20px;
            font-size: 18px;
            color: #ff6a00;
        }

        .photo-img {
            width: 40px;
            height: 40px;
            border: solid 1px #dcdcdc;
            border-radius: 50%;
        }

        .photo-img-big {
            width: 100px;
            height: 100px;
        }

        .red {
            font-size: 18px;
            font-weight: bold;
            color: #f00;
        }

        .blue {
            font-size: 14px;
            font-weight: bold;
            color: blue;
        }

        .yellow {
            font-size: 18px;
            font-weight: bold;
            color: yellow;
        }
    </style>

    <script type="text/javascript">

        var grid;
        $(function () {
            //设置表格的高度
            var parentHeight = $(window).height();
            $("#datagrid1").height(parentHeight - 30);

            mini.parse();
            grid = mini.get("datagrid1");
            search();
            drawCell();

            init();
        })

        function drawCell() {
            grid.on("drawcell", function (e) {
                var record = e.record,
                    column = e.column,
                    field = e.field,
                    value = e.value;
                if (column.name == "photo") {
                    var photo = servUrl_AppData + '/photo/' + record.photo;

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<a href="javascript:UserAllInfo(\'' + record.uid_from + '\')"><img src="' + photo + '" class="photo-img" /></a>';
                }

                if (column.name == "score") {
                    var score = record.score;
                    var item = separate_Num(score);
                    e.cellHtml = '<span style="color:#888">' + item + '</span>';
                    if (score >= 1000) {
                        e.cellHtml = '<span style="font-size:18px; font-weight: bold; color:#00f">' + item + '</span>';
                    }
                    if (score > 300 && score < 1000) {
                        e.cellHtml = '<span style="font-size:18px;">' + item + '</span>';
                    }

                }

                if (column.name == "chat_count") {
                    var chat_count = record.chat_count;
                    var item = separate_Num(chat_count);
                    e.cellHtml = '<span style="color:#888">' + item + '</span>';
                    if (chat_count >= 10) {
                        e.cellHtml = '<span style="font-size:18px; font-weight: bold; color:#00f">' + item + '</span>';
                    }
                    if (chat_count > 3 && chat_count < 10) {
                        e.cellHtml = '<span style="font-size:18px;">' + item + '</span>';
                    }
                }

                if (column.field == "score_total") {
                    var score_total = record.score_total;
                    var item = separate_Num(score_total);
                    e.cellHtml = '<span>' + item + '</span>';
                    if (score_total >= 500) {
                        e.cellHtml = '<span class="red" style="font-size:18px;">' + item + '</span>';
                    }
                }

                if (column.name == "score_online") {
                    var score_online = record.score_online;
                    var item = separate_Num(score_online);
                    e.cellHtml = '<span>' + item + '</span>';
                    if (score_online >= 2000) {
                        e.cellHtml = '<span class="red" style="font-size:18px;">' + item + '</span>';
                    }
                }

                if (column.name == "dtm_max") {
                    var dtm = record.dtm_max;
                    var dtm_old = new Date(dtm).getTime();
                    var dtm_now = new Date().getTime();
                    var dtm_ss = Math.floor((dtm_now - dtm_old) / 1000);

                    if (dtm_ss < 60) {
                        e.cellStyle = "text-align:left";
                        e.cellHtml = '<span style="color:blue;font-size: 14px;font-weight: bold;">' + dtm_ss + '秒前</span>';
                    }
                    if (dtm_ss >= 60 && dtm_ss < 60 * 60) {
                        var dtm_mm = Math.floor(dtm_ss / 60);
                        e.cellStyle = "text-align:left";
                        e.cellHtml = '<span style="color:blue;font-size: 14px;font-weight: bold;">' + dtm_mm + '分钟前</span>';
                    }
                    if (dtm_ss >= (60 * 60) && dtm_ss < (60 * 60) * 10) {
                        var dtm_hh = Math.floor(dtm_ss / (60 * 60));
                        console.log(dtm_hh);
                        e.cellStyle = "text-align:left";
                        e.cellHtml = '<span style="color:#008866;font-size: 14px;font-weight: bold;">' + dtm_hh + '小时前</span>';
                    }

                    if (dtm_ss > 60 * 60 * 10) {
                        if (dtm == null) { dtm = ''; }
                        dtm = dtm.replace(' ', '<br/>');

                        e.cellStyle = "text-align:left";
                        e.cellHtml = '<span style="color:#888;">' + dtm + '</span>';
                    }



                }

                if (column.name == "dtl") {
                    e.cellStyle = "text-align:left";
                    e.cellHtml = '<a style="font-size:16px;color:blue;" href="javascript:Dtl(\'' + record.uid_from + '\',\'' + record.dtm + '\')"> <span>---详情---</span> </a>';
                }

                if (column.field == "today_sum") {
                    var score_total = record.score_total;
                    var today_sum = Number(record.score) + Number(score_total);
                    var item = separate_Num(today_sum);
                    if (today_sum < 1000) {
                        e.cellHtml = '<span>' + item + '</span>';
                    } else {
                        e.cellHtml = '<span style="color:red;">' + item + '</span>';
                    }
                    
                }
            });
        }
    </script>

    <script>
        var servUrl_AppData = '@ViewData["servUrl_AppData"]';
        function init() {
            
        }

        function search() {
            var uid = '@ViewData["id"]';
            grid.load({
                "uid":uid
            });
        }

        function Dtl(uid, dtm) {
            var url = "/Admin1/ChatMny_Dtl/?uid=" + uid + "&dtm=" + dtm;
            mini.open({
                url: url,
                showMaxButton: false,
                title: "详情",
                width: $(window).width(),
                height: $(window).height(),
                ondestroy: function (action) {
                    //grid.reload();
                }
            });
        }

        function onDrawSummaryCell(e) {
            var result = e.result;
            var grid = e.sender;

            //客户端汇总计算
            if (e.field == "score") {
                e.cellHtml = separate_Num(e.cellHtml);
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span style="display:inline-block;margin:10px 0; color:#00f; font-size:18px; font-weight:bold;">' + e.cellHtml + '</span>';
            }

            if (e.field == "chat_count") {
                e.cellHtml = separate_Num(e.cellHtml);
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span style="display:inline-block;margin:10px 0; color:#00f; font-size:18px; font-weight:bold;">' + e.cellHtml + '</span>';
            }

            if (e.field == "score_online") {
                e.cellHtml = separate_Num(e.cellHtml);
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span style="display:inline-block;margin:10px 0; color:red; font-size:18px; font-weight:bold;">' + e.cellHtml + '</span>';
            }

            if (e.field == "score_total") {
                e.cellHtml = separate_Num(e.cellHtml);
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span style="display:inline-block;margin:10px 0; color:red; font-size:18px; font-weight:bold;">' + e.cellHtml + '</span>';
            }

            if (e.field == "score_login") {
                e.cellHtml = separate_Num(e.cellHtml);
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span>' + e.cellHtml + '</span>';
            }

            if (e.field == "score_gift") {
                e.cellHtml = separate_Num(e.cellHtml);
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span>' + e.cellHtml + '</span>';
            }

            if (e.field == "today_sum") {
                e.cellHtml = separate_Num(e.cellHtml);
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span style="display:inline-block;margin:10px 0; color:red; font-size:18px; font-weight:bold;">' + e.cellHtml + '</span>';
            }
        }

    </script>
</head>
<body>
    <form id="form1">

        <div id="datagrid1" class="mini-datagrid" style="width:100%;height:700px; margin-top:5px;"
             url="/Admin1/GetChatMynSumData" idfield="id" allowresize="true" multiselect="true"
             showsummaryrow="true" ondrawsummarycell="onDrawSummaryCell"
             sizelist="[100,200]" pagesize="100">
            <div property="columns">
                <div field="xh" width="10" headeralign="center" align="center" allowsort="false">序号</div>
                <div field="dtm" width="20" headeralign="center" align="center" allowsort="false">日期</div>
                <div field="chat_mny_score" width="20" headeralign="center" align="center" allowsort="false">聊天基数</div>
                <div name="chat_count" field="chat_count" width="20" headeralign="center" align="right" summarytype="sum">消息次数</div>
                <div name="score" field="score" id="score" width="20" headeralign="center" align="right" summarytype="sum">消息收入</div>
                <div field="score_total" width="20" headeralign="center" align="right" summarytype="sum">任务积分</div>
                <div field="score_hello" width="20" headeralign="center" align="right">打招呼</div>
                <div field="score_anser" width="20" headeralign="center" align="right">回复</div>
                <div name="score_online" field="score_online" id="score_online" width="20" headeralign="center" align="right" summarytype="sum">在线奖励</div>
                <div name="score_login" field="score_login" width="20" headeralign="center" align="right" summarytype="sum">登录奖励</div>
                <div name="score_gift" field="score_gift" width="20" headeralign="center" align="right" summarytype="sum">礼物奖励</div>
                <div name="today_sum" field="today_sum" width="20" headeralign="center" align="right" summarytype="sum">日总</div>
                <div name="dtm_max" field="dtm_max" width="30" headeralign="center" align="right">最近时间</div>
                <div name="dtl" width="120" headeralign="left" align="left" allowsort="false">详情</div>
            </div>
        </div>
    </form>
</body>
</html>
