
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Styles/style2.css?id=0" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>

    <link href="~/Styles/public.css?id=1" rel="stylesheet" />
    <script src="~/Scripts/public.js?id=6"></script>

    <style>
        select {
            width: 80px;
            border-radius: 5px;
            border: 1px solid #dfdfdf;
        }

        input[type="text"] {
            height: 22px;
            line-height: 22px;
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            padding-left: 5px;
        }

        .sys-summary {
            display: inline-block;
            text-align: center;
            min-width: 20px;
            font-size: 18px;
            color: #ff6a00;
        }

        .photo-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .gray {
            color: #808080;
        }

        .blue {
            color: blue;
        }

        .red {
            color: red;
        }
    </style>

    <script type="text/javascript">
        var grid;
        $(function () {
            //设置表格的高度
            var parentHeight = $(window.parent.document).find("#rightFrame").height();
            $("#datagrid1").height(parentHeight - 56);

            mini.parse();

            grid = mini.get("datagrid1");

            grid.load();

            drawCell();

            init();
        })

        function init() {

        }
        var servUrl_AppData = '@ViewData["servUrl_AppData"]';
        function drawCell() {
            grid.on("drawcell", function (e) {
                var record = e.record,
                    column = e.column,
                    field = e.field,
                    value = e.value;

                //详情
                
                if (column.name == "photo")
                    {
                    var photo = servUrl_AppData + '/photo/' + record.photo;

                    if (photo == null || photo == "") {
                        photo = "/Images/frame/i07.png";
                    }

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<a href="javascript:UserAllInfo(\'' + record.uid + '\')"><img src="' + photo + '" class="photo-img" /></a>';

                }
                if (column.name == "state") {
                    var state = record.state;

                    var cls = 'blue';
                    if (state == "封杀") {
                        cls = 'red';
                    }

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<span class="' + cls + '">' + state + '</span>';
                    e.cellHtml += "&nbsp;&nbsp;&nbsp;";
                }

                if (column.name == "wx_sex") {
                    var wx_sex = record.wx_sex;
                    var txt = '未知';
                    var cls = 'gray';
                    if (wx_sex == "2") {
                        txt = '女';
                        cls = 'blue';
                    }
                    else if (wx_sex == "1") {
                        txt = '男';
                        cls = 'red';
                    }
                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<span class="' + cls + '">' + txt + '</span>';
                    e.cellHtml += "&nbsp;&nbsp;&nbsp;";
                }

                if (column.name == "dtm") {
                    var dtm = record.dtm;
                    dtm = dtm.replace(" ", "<br/>");
                    e.cellHtml = '<span class="red" style="font-size:18px; color:#f00;">' + dtm + '</span>';
                }

                if (column.name == "dtm_line") {
                    var dtm_line = record.dtm_line;
                    dtm_line = dtm_line.replace(" ", "<br/>");
                    e.cellHtml = '<span class="red" style="font-size:18px; color:#00f;">' + dtm_line + '</span>';
                }

                if (column.name == "scan_count") {
                    var scan_count = record.scan_count;
                    if (scan_count == 1) {
                        scan_count = "是";
                        e.cellHtml = '<span class="red" style="font-size:18px; color:#00f;">' + scan_count + '</span>';
                    } else if (scan_count == 0) {
                        scan_count = "否";
                        e.cellHtml = '<span class="red" style="font-size:18px; color:red;">' + scan_count + '</span>';
                    } else {
                        scan_count = "";
                        e.cellHtml = '<span class="red" style="font-size:18px; color:#00f;">' + scan_count + '</span>';
                    }
                    
                }



            });
        }

        function search() {
           
        }

    </script>

</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">警告记录</a></li>
        </ul>
    </div>

    <form id="form1">
        <div id="datagrid1" class="mini-datagrid" style="width:100%;height:600px;"
             url="/Admin1/GetWarnUserList" idfield="id" allowresize="true" multiselect="true"
             sizelist="[20,50,100]" pagesize="50">
            <div property="columns">

                <div field="xh" width="40" headeralign="center" align="center" allowsort="false">序号</div>
                <div name="photo" width="80" headeralign="center" align="center" allowsort="false">头像</div>
                <div field="nick" width="80" headeralign="center" align="left" allowsort="false">昵称</div>
                <div field="sex" width="40" headeralign="center" align="center" allowsort="false">微信性别</div>

                <div field="dtm" name="dtm" width="100" renderer="onGenderRenderer" align="right" headeralign="center">警告时间</div>
                <div field="warn_sec" width="60" renderer="onGenderRenderer" align="right" headeralign="center">警告时长</div>
                <div field="state" name="state" width="80" headeralign="center" align="center" allowsort="false">状态</div>
                
                <div field="reason" width="120" headeralign="center" align="left" allowsort="false">警告原因</div>
                <div field="warn_type" width="90" headeralign="center" align="left" allowsort="false">警告类型</div>
                <div field="scan_count" name="scan_count" width="40" headeralign="center" align="center" allowsort="false">是否查看</div>
             
            </div>
        </div>
    </form>
</body>
</html>
